@page "/admin/loginlog"

<h2>登录日志</h2>

<Table TItem="BindItem" Items="@Items" IsPagination="true" PageItemsSource="@PageItemsSource"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" AutoGenerateColumns="true"
       ShowToolbar="true" ShowLineNo="true" ShowSearch="true" IsMultipleSelect="false" ShowExtendButtons="false"
       ShowAddButton="false" ShowDeleteButton="false" ShowEditButton="false"
       OnQueryAsync="@OnQueryAsync" OnDeleteAsync="@OnDeleteAsync" OnSaveAsync="@OnSaveAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Status">
            <Template Context="v">
                @if (v.Value)
                {
                    <Badge IsPill="true" Color="(Color.Success)">成功</Badge>
                }
                else
                {
                    <Badge IsPill="true" Color="Color.Danger">失败</Badge>
                }                
            </Template>
        </TableColumn>
    </TableColumns>
</Table>